.body{
    display: flex;
    justify-content: center;
}

input{
    display: inline-flex;
}

button{
    display: inline-flex;
}

.coloreo{
    display: flex;
    color: blue;
}

.coloreado{
    display: flex;
    color: red;
}